<div class="container background-gray">
    <nav class="menu margin-120">
        <div>
            <a href="#" class="margin-32-right active">Projetos</a>
            <a href="#" class="margin-32-right">Equipe</a>
            <a href="#">Integrações</a>
        </div>
        <div>
            <a href="#">
                <i class="fa-regular fa-bell"></i>
            </a>
            <a href="#" class="margin-32-left">Vanessa Ortega</a>
            <a href="#" class="margin-32-left">
                <i class="fa-regular fa-circle-user"></i>
            </a>
        </div>
    </nav>
</div>